body {
    font-family: 'Arial', sans-serif;
    background-color: #e4e4e4;
    width: 450px;
    padding: 20px;
    margin: 0;
}
h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
}
#profiles-container, #ignore-domains-container {
    margin-top: 20px;
}
.profile, .ignore-domain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.profile span, .ignore-domain span {
    font-weight: bold;
    color: #555;
}
.ignore-domain button {
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ignore-domain button:hover {
    background-color: #e85d50;
}

#add-profile-form, #add-ignore-domain-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#add-profile-form input, #add-ignore-domain-form input {
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}
#add-profile-form input:focus, #add-ignore-domain-form input:focus {
    border-color: #007BFF;
}
.default-btn {
    padding: 3px 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.check-connection {
    text-align: center;
    margin-top: 20px;
}
.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container {
    display: inline-flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 8px;
}
.pro-box {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 10px;
}
.pro-text {
    color: black;
    font-weight: bold;
    font-size: 24px;
}
.xy-text {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: auto; /* Центровка в пределах родительского блока */
    top: 50%; /* Смещение сверху */
    transform: translateY(-50%);
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #28a745;
}
input:checked + .slider:before {
    transform: translateX(25px);
}